$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Colors 
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

/* Bootstrap Overrides */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.accordion-inner { border-top: none; }

.hero-unit {
    font-size: 12px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
    background-color: #B8862C;
    margin-bottom: 20px;
}

.hero-unit h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    display: inline;
    margin-left: 10px;
}

.avatar {
    border-radius: 5px;
    float: left;
}
.user-header{
    background-color: #fafafa;
    border-radius: 4px;
    padding: 10px;
    height: 50px;
    box-shadow: 0 1px 2px;
}
.wins{
    float: right;
    font-size: 26px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    color: #fafafa;
    border-color: black;
    background-color: #222;
}

.amount-to-add{
    font-weight: bold;
}

.scoreboard{
    padding-left: 19%;
    padding-right: 19%;
}

.scoreboard .equation-top {
    font-size: 100px;
    line-height: 100px;
}
.sum {
    border-top: 2px solid black;
}

.active {background-color: white;}
