<div class="accordion" id="user-accordion"> 
    <div ng-controller="BoardCtrl"  ng-repeat="player in players" class="accordion-group hero-unit">
        <div class="accordion-heading user-header accordion-toggle" data-toggle="collapse" data-parent="#user-accordion" href="#collapse-{{player.username}}">
            <img class="avatar" width="50" height="50" src="./images/IMG_0092.JPG">
            <span class="wins">{{player.wins}}</span>
            <h1>{{player.username}}</h1>
        </div>
        <div id="collapse-{{player.username}}" class="accordion-body collapse in scoreboard">
            <div class="accordion-inner">
                <div class="equation-top">
                    <div class="top-addend">{{player.score}}</div>
                    <div class="bottom-addend clearfix">
                        <div class="btn-group-vertical pull-right">
                            <button ng-click="player.toAdd = player.toAdd + 1" class="btn"><span class="icon icon-arrow-up"></span></button>
                            <button ng-click="player.toAdd = player.toAdd - 1" class="btn"><span class="icon icon-arrow-down"></span></button>
                        </div>
                        <div class="amount-to-add">{{player.toAdd | displayPlus}}</div>
                    </div>
                    <div class="sum">{{player.score + player.toAdd}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
